<header class="header-sticky">
  <nav class="nav-horizontal">
    <div class="nav-toolbar">
      <div class="nav-title-area">
        <span class="nav-title-area-title"><a href="{{ url_for('index') }}">Title</a></span>
      </div>
    </div>
    
    <ul class="nav-menu-area">
      <li class="nav-menu-item" >Test</li>
      {# # <li class="nav-menu-item"><a role="li" href="{{url_for('view_users.display_list')}}">Users</a></li>
      #<li class="nav-menu-item"><a href="{{url_for('display_about')}}">About</a></li>
      #} 
    </ul>
   
  </nav>
</header>
    